# Node.js dependencies
node_modules/

# Log files
*.log

# Environment variables
.env

# Build output directories
dist/
build/

# Dependency directories
bower_components/
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by coverage tools
coverage/
